<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruitmentCompanyController</servlet-name>
        <servlet-class>com.controller.RecruitmentCompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobApplicationController</servlet-name>
        <servlet-class>com.controller.JobApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobVacanciesController</servlet-name>
        <servlet-class>com.controller.JobVacanciesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCandidateController</servlet-name>
        <servlet-class>com.controller.RegisterCandidateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruitmentCompanyController</servlet-name>
        <url-pattern>/recruitmentCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobApplicationController</servlet-name>
        <url-pattern>/JobApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobVacanciesController</servlet-name>
        <url-pattern>/jobVacancies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCandidateController</servlet-name>
        <url-pattern>/registerCandidate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
